@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Inicializa  formatpo navegador*/
}
body{
    font-family: $fuente-principal, serif;
    background-color: $color-fondo ;
    color: $color-texto;  /*Color de fondo Body y color texto*/
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
.row {
    --bs-gutter-x: 0rem;
  }


/* Titulos main */
.h2Titulo{
    width: 100%;
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    background-color: #515A5A ;
    background-size:200px;/*formato H2 por clase*/
    background-image: linear-gradient(to bottom, #ccd1d1, #a2a6a7, #7b7d7f, #565658, #333233, #333233, #333233, #333233, #565658, #7b7d7f, #a2a6a7, #ccd1d1);
    color:$color-primario; 
    text-transform: uppercase;
    word-spacing: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    width:100%;
    text-shadow: 2px 2px $color-negro;
   
}
